<footer class="footer">
  <small>
    Trabajo Fin de Grado <a href='http://ender.dacya.ucm.es/'>ENDER</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre nosotros", about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
    </ul>
  </nav>
</footer>
