<% provide(:title, 'Cargando') %>
<script>
 
function autoRefresh()
{
window.location = window.location.href;
}
 
setInterval('autoRefresh()', 5000); // this will reload page after every 5 secounds; Method I
</script>

    <div class="jumbotron">
      <div class="container">
        <h1>Cargando</h1>
        <p>Estamos cargando el escenario, por favor espera unos instantes.</p>
        <div class="progress">
		<% if des=File.exist?("/var/lib/one/escenarios/ES001/dir") %>
                	<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
		<% elsif des=File.exist?("/var/lib/one/escenarios/ES001/desp") %>
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
		<% elsif des=File.exist?("/var/lib/one/escenarios/ES001/cert") %>
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
		<% end %>
        </div>
     </div>
<h1>id_escenario_ideal=<%= @escenario_ideal.id %></h1>
<h1>current_user id=<%= @current_user.id %></h1>
   </div>