<% provide(:title, "Ayuda") %>
<h1>Ayuda</h1>
<p>

El objetivo de 'Cloud Ender' es que usuarios puedan desplegar escenarios virtuales de guerra digital, de modo que se puedan poner a prueba sus habilidades en ciber-seguridad. Estos escenarios, desplegados en la Nube, tendrán objetivos diferentes y se requerirá de diferentes herramientas y conocimientos para superarlos.

 
 <h2> Si necesitas ayuda, sigue los siguientes pasos para adentrarte en 'Cloud Ender' y enfrentarte a sus Escenarios de Ciberguerra </h2>

</p>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">Paso 1: Regístrate en 'Cloud Ender' desde la página principal o desde el enlace 'Iniciar Sesión'</li>
  <li class="list-group-item list-group-item-info">Paso 2: Inicia sesión con tu usuario y contraseña desde el enlace 'Iniciar Sesión'</li>
  <li class="list-group-item list-group-item-warning">Paso 3: A continuación, debes pulsar sobre el enlace de 'Escenarios', elegir uno y pinchar sobre el botón 'Mostrar'</li>
  <li class="list-group-item list-group-item-danger">Paso 4: Para lanzar el Escenario, pulsa sobre el botón 'Lanzar'. Después de unos minutos, se visualizará un mensaje informativo sobre el correcto lanzamiendo del escenario</li>
  <li class="list-group-item list-group-item-success">Paso 5: Una vez que el Escenario se haya lanzado, se habilitará un enlace para la descarga de los certificados digitales, necesarios para conectarte por VPN a la red del Escenario virtual desplegado</li>
  <li class="list-group-item list-group-item-info">Paso 7: Instala los certificados que acabas de descargar y usa 'OpenVPN' para conectarte al Escenario</li>
  <li class="list-group-item list-group-item-warning">Paso 8: Por último, si has sido capaz de superar el reto del Escenario, utiliza el botón de 'Comprobar resultado' para verificar que los resultados obtenidos son realmente los que se pedían.</li>
</ul>